#mynavbar {  
  font-family: "Bungee Spice", sans-serif;
  background-color:#0c881a;
  border-radius: 5px
  justify-content: center;
  align-items: center;
  text-align: center;
}
#mynavbar li a {  
  color: #FDC319;
}

#mynavbar li a:hover {
  background-color:#165DFF;   
  color: #0c881a;        
}

#mynavbar .navbar-collapse {
  display: flex;
}

#centeredText {
  text-align: center; 
  margin-top: 15%; 
}

body {
  background-color:#165DFF;
  color:#FDC319; 
  text-align: center;
  font-family: Arial, sans-serif;
 }

#container {
  background-color: #FFB5EE;
  color: #165DFF;
}

footer {
  background-color:#D12229;
  color: #FDC319;
  text-align: center;
  padding: 20px 0;
}

#logo {
       font-weight: bold;
       font-size: 24pt ;
       text-align: center;
}
